<div class="footer">
        <div class="credit">
          <h2>&lt; by JA /&gt;</h2>
          <p>Last update: {{ formatDate() }}</p>
        </div>
        <div class="social">
          <a href="https://www.facebook.com/adam.aucar" class="Facebook">
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </a>
          <div class="Twitter">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </div>
          <a href="https://www.instagram.com/johnaucar/" class="Instagram">
            <fa-icon [icon]="faInstagram"></fa-icon>
          </a>
          <a href="https://www.linkedin.com/in/john-adam-aucar-81402ab4/" class="LinkedIn">
            <fa-icon [icon]="faLinkedin"></fa-icon>
          </a>
          <div class="Reddit">
            <fa-icon [icon]="faRedditAlien"></fa-icon>
          </div>
          <a href="https://github.com/joaucar" class="Github">
            <fa-icon [icon]="faGithub"></fa-icon>
          </a>
        </div>
      </div>
    