.content2 {
  height: 100%;
  width: 100%;
  display: flex;
  .Map {
    height: calc(100% - 30px);
    width: 80%;
    margin: 15px;
  }

  agm-map {
    height: 100%;
    width: 100%;
  }

  .content2-box {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    h2 {
      min-width: 205px;
    }
    ul {
      margin-top: 0px;
      padding-left: 20px;
    }
  }
}
