<div class="content2">
  <h2 class="section-title">Where in the World</h2>
  <div class="content2-sbs">
    <div class="Map">
      <agm-map [latitude]="centerLat" [longitude]="centerLng" [zoom]="zoom">
        <agm-marker *ngFor="let mkrs of markers" [latitude]="mkrs.lat" [longitude]="mkrs.lng">
          <agm-info-window>
            <strong>{{ mkrs.address }}</strong>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
    <div class="content2-box">
      <ul>
        <li *ngFor="let mkrs of markers">
          {{ mkrs.address }}<br />
          {{ mkrs.description ? "-" + mkrs.description : null }}
        </li>
      </ul>
    </div>
  </div>
</div>
