<div class="body">
  <div class="navigation">
    <div class="nav-content">
      <div class="nav-text">
        <div class="nav-right"><span class="nav-left">J</span>ohn &nbsp;</div>
        <div class="nav-right"><span class="nav-left">A</span>dam &nbsp;</div>
        <div class="nav-right"><span class="nav-left">A</span>ucar</div>
      </div>
      <a class="download" href="../assets/docs/John Adam Resume.pdf" target="blank"
        ><h2><span id="dlword">View</span> Resume</h2></a
      >
    </div>
  </div>

  <div class="first-view">
    <img @firstView class="first-view-circle" src="https://websitephotosfornetlify.s3.us-east-2.amazonaws.com/dots.jpg" />
    <div @firstViewText class="first-view-text">
      Developer & Engineer
    </div>
  </div>

  
  <div class="header">
    <!-- @headerInLeft -->
    <div class="header-picture">
      <img src="https://websitephotosfornetlify.s3.us-east-2.amazonaws.com/fountain.JPG" alt="Plaza de Espa&ntilde;a" />
    </div> 
    <div class="header-info">
      <h2>John Adam Aucar</h2>
      <p>
        I have a Bachaelor's degree in Mechanical Engineering from Texas Tech University in Lubbock,
        Texas as well as a minor in Mathematics and Philosophy. Some of my interst include computers
        and board games, playing and listening to music, cooking and eating really good food, and
        sports. Learn more about me here on my website that I coded and find links to my profiles on
        other social media.
      </p>
    </div>
  </div>
  
  <div class="spacer-pic">
    <img src="https://websitephotosfornetlify.s3.us-east-2.amazonaws.com/mountain.JPG" />
  </div>
  <div class="spacer"></div>

  <div class="content">
    <h2 class="section-title">About Me</h2>
    <div class="content-bar"></div>

    <div class = 'content-info-new'>
      <div *ngFor="let items of info" class = 'content-box'>
        <div class = 'content-left'>
          <img src = "{{items.images}}" class = 'content-image'/>
        </div>
        <div class = 'content-right'>
          <div class = 'content-header'>
            <fa-icon [icon]="items.icon" class = 'content-icon'></fa-icon>
            <h3 class = 'content-title'>{{items.title}}</h3>
          </div>
          <p>{{items.text}}</p>
        </div>
      </div>
    </div>
  </div>

  <app-map></app-map>
</div>
