/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}
.hidden-form {
  display: none;
}
.section-title {
  font-size: 40px;
  font-family: fantasy;
  text-shadow: 5px 3px black;
  margin-bottom: 0px;
  color: white;
  @media (max-width: 640px) {
    font-size: 35px;
  }
}
